.menu {
    background-color: #222222;
    height: 50px;
    color: #e1e3e6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .container {
        width: 1085px;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .left {
            display: flex;
            height: 100%;
        }

        .right {
            display: flex;
            height: 100%;
        }

        .logo {
            display: flex;
            text-decoration: none;
            color: #e1e3e6;
            height: 100%;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            width: 170px;
            text-transform: uppercase;
            letter-spacing: 5px;

            span {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        .nav {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
}