.shop {
    padding: 10px;
    border: 1px solid #424242;
    background-color: #222222;
    border-radius: 12px;
    color: #e1e3e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    .pagination {
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #424242;
        display: flex;
        gap: 5px;

        span {
            padding: 10px 15px;
            background-color: #333333;
            border-radius: 5px;
            border: 1px solid #424242;
            transition: background-color .2s;
            cursor: pointer;
            
            &:hover {
                background-color: #555555
            }

            &.active {
                pointer-events: none;
                background-color: #424242;
            }
        }
    }
}