.post {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #222222;
    color: #e1e3e6;
    border-radius: 10px;
    border: 1px solid #424242;

    >.header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid #424242;

        .author {
            display: flex;
            gap: 20px;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #e1e3e6;
                cursor: pointer;
            }

            h4 {
                color: #71aaeb;
                font-weight: normal;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .tags {
            display: flex;
            gap: 10px;
            align-items: center;

            .tag {
                height: fit-content;
                padding: 5px 10px;
                background-color: #333333;
                border-radius: 13px;
                cursor: pointer;
                transition: background-color .2s;

                &:hover {
                    background-color: #424242;
                }
            }
        }
    }

    .content {
        padding: 10px;

        h3 {
            padding-bottom: 10px;
        }

        p {
            text-align: justify;
        }
    }

    .actions {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #424242;

        button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px 15px;
            font-size: 16px;
            border: none;
            background-color: #424242;
            color: #e1e3e6;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color .2s;

            svg {
                width: 18px;
                height: 18px;
            }

            &:hover {
                background-color: #555555;
            }
        }
    }

    .comments {
        .comment {
            padding: 10px;
            display: flex;
            justify-content: space-between;

            .link {
                color: #71aaeb;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .no-comments {
        padding-top: 10px;
        color: #666666;
    }
}

.preloader {
    padding: 10px;
    margin-bottom: 20px;
    color: #e1e3e6;
    height: 100px;
    background-color: #222222;
    border-radius: 10px;
}