@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$black: #141414;
$lightBlack: #222222;
$darkGray: #333333;
$gray: #424242;
$white: #e1e3e6;
$blue: #6898d0;
$linkColor: #71aaeb;
$green: #4bb34b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    outline: none;
    user-select: none;
}

body {
    background-color: $black;
    overflow: hidden;
}

.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &>.container {
        height: calc(100vh - 50px);
        overflow-y: auto;

        .center {
            width: 1085px;
            margin: 20px auto;
            height: 100%;
            position: relative;

            >.content {
                position: absolute;
                width: calc(100% - 170px);
                right: 0;
            }
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $darkGray;
        }

        &::-webkit-scrollbar-thumb {
            background: lighten($gray, 5);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: lighten($gray, 10);
        }

        &::-webkit-scrollbar-thumb:active {
            background: lighten($gray, 15);
        }
    }
}

