@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$black: #141414;
$lightBlack: #222222;
$darkGray: #333333;
$gray: #424242;
$white: #e1e3e6;
$blue: #6898d0;
$linkColor: #71aaeb;
$green: #4bb34b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    outline: none;
    user-select: none;
}

body {
    background-color: $black;
    overflow: hidden;
}